ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

section {
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 250px;
}
.tagDisplayP {
  margin-right: 15px;
}
#tagsDisplayp {
  max-width: 100px;
  display: flex;
  flex-wrap: wrap;
}
